ul#SpryMenu{height:30px;position:absolute;right:-2px;top:68px}
ul#SpryMenu li{list-style:none}
li.mainMenuLeaf{float:left;position:relative;-moz-border-radius:4x 4px 0 0;margin:0 2px}
ul#SpryMenu li.mainMenuLeaf a.mainMenuLeafA{border-radius:10px 10px 0 0;min-width:60px;_width:60px;_overflow-x:visible;white-space:nowrap;background-image:url(../images/b_meniu.jpg);background-repeat:repeat-x;background-position:0 0;color:#B7D6EC;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:700;margin-left:-3px;text-decoration:none;display:block;text-align:center;padding:13px 11px}
ul#SpryMenu li.hasChildren a.mainMenuLeafA{cursor:default}
ul#SpryMenu li.mainMenuLeaf_h a.mainMenuLeafA{background-position:0 -46px;color:#FFF}
ul#SpryMenu ul.subMenu{position:absolute;top:44px;left:-4px;background:#ECF5F5;display:none;border-radius:0 6px 6px;border:2px solid #FFF;padding:3px}
ul#SpryMenu ul.subMenu li.subMenuLeaf{border-bottom:1px solid #FFF;color:#555;position:relative}
ul#SpryMenu ul.subMenu li.subMenuLeaf a{text-decoration:none;color:#555;font-size:.9em;position:relative;display:block;white-space:nowrap;margin-top:1px;padding:3px}
ul#SpryMenu ul.subMenu li.subMenuLeaf a:hover{background-color:#555;color:#FFF}
ul#SpryMenu ul.subMenu li.hasChildren{z-index:1}
ul#SpryMenu ul.subMenu li.hasChildren a.hasChildrenA{background-image:url(images/SpryMenuBarRight.gif);background-position:right center;background-repeat:no-repeat}
ul#SpryMenu ul.subMenu .subMenuLeaf .subMenuLeaf a{background-image:none}
ul#SpryMenu ul.subMenu li.hasChildren ul.subMenu{left:90%;margin-top:-25px;z-index:2}
.getMoreWidth{display:block;width:100px;height:0;margin-top:-1px;_margin-top:-25px}