<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <!--   <add name="bommaDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB1022293_BOMMA;Persist Security Info=True;User ID=sa;Password=Bomma@123"
      providerName="System.Data.SqlClient" />
 -->
   <!--   <add name="bommaDBConnectionString" connectionString="server=localhost;User Id=root;password=root;Persist Security Info=True;database=bomma" providerName="MySql.Data.MySqlClient"/>
-->
     <add name="bommaDBConnectionString" connectionString="server=mysql221.cp.365techsupport.com;User Id=u1022293_root;password=root;Persist Security Info=True;database=db1022293_bomma" providerName="MySql.Data.MySqlClient"/>
   </connectionStrings>
</configuration>